<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.mzayy.blog.Mapper.UserMapper">
    <!--<resultMap type="cn.mzayy.blog.pojo.Fenlei" id="FenleiResult">
        <result column="BLOGDIR" property="blogDir"/>
    </resultMap>-->
    <resultMap type="String" id="NoteDirResult">
        <result column="BLOGDIR" property="blogDir"/>
    </resultMap>
    <resultMap type="cn.mzayy.blog.pojo.Blog" id="NoteResult">
        <id column="id" property="id"/>
        <result column="BLOGTITLE" property="title"/>
        <result column="CREATETIME" property="date"/>
    </resultMap>

    <insert id="register" parameterType="">
     INSERT INTO BLOG_USER VALUES (NULL,#{USER},#{PASSWORD});
    </insert>
    <delete id="deleteUser">
      DELETE FROM BLOG_USER WHERE ID=#{ID};
    </delete>
    <update id="passwordModify" parameterType="Integer">
        UPDATE BLOG_USER SET PASSWORD=#{PASSWORD} where ID=#{id};
    </update>
    <select id="login" parameterType="string" resultType="cn.mzayy.blog.pojo.Fenlei">
      SELECT ID FROM BLOG_USER WHERE USER=#{USER} AND PASSWOORD=#{PASSWORD};
    </select>
</mapper>