<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.mzayy.blog.Mapper.BlogDemo">
    <insert id="AddNote" parameterType="string">
        insert into blog values(3,"aa");
    </insert>
    <select id="aa" parameterType="string" resultType="cn.mzayy.blog.pojo.Blog">
        select * from mzayy;
    </select>
</mapper>